import(methods, graphics)
useDynLib(VNM)
importFrom(Rcpp, sourceCpp)

export(
 "MOPT",
 "ceff1",
 "ceff2",
 "Deff",
 "S.Weight"
)

exportClasses(OPT, SW)
importFrom("stats", "na.omit", "runif")
exportMethods(plot,summary)


